In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('retail_sales_dataset.csv')

In [5]:
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount,Offer
0,1,2023-11-24,CUST001,Male,34.0,Beauty,3.0,50.0,150.0,NaN
1,2,2023-02-27,CUST002,Female,26.0,Clothing,2.0,500.0,1000.0,NaN
2,3,2023-01-13,CUST003,Male,50.0,Electronics,1.0,30.0,30.0,NaN
3,4,2023-05-21,CUST004,Male,37.0,Clothing,1.0,500.0,NaN,NaN
4,5,2023-05-06,CUST005,Male,30.0,Beauty,2.0,50.0,100.0,NaN
5,6,2023-04-25,CUST006,Female,45.0,Beauty,1.0,30.0,30.0,NaN
6,7,2023-03-13,CUST007,Male,NaN,Clothing,NaN,25.0,50.0,NaN
7,8,2023-02-22,CUST008,Male,30.0,Electronics,4.0,NaN,100.0,NaN
8,9,2023-12-13,CUST009,Male,63.0,NaN,2.0,300.0,600.0,NaN
9,10,2023-10-07,CUST010,Female,52.0,Clothing,4.0,50.0,NaN,NaN
10,11,2023-02-14,CUST011,Male,23.0,Clothing,2.0,50.0,100.0,NaN
11,12,2023-10-30,CUST012,Male,35.0,Beauty,3.0,25.0,75.0,NaN
12,13,2023-08-05,CUST013,Male,22.0,Electronics,3.0,500.0,1500.0,NaN
13,14,2023-01-17,CUST014,Male,64.0,Clothing,4.0,NaN,120.0,NaN
14,15,2023-01-16,CUST015,Female,NaN,Electronics,4.0,500.0,2000.0,NaN
15,16,2023-02-17,CUST016,Male,19.0,Clothing,NaN,500.0,1500.0,NaN
16,17,2023-04-22,CUST017,Female,27.0,Clothing,4.0,25.0,100.0,NaN
17,18,2023-04-30,CUST018,Female,47.0,Electronics,2.0,25.0,50.0,NaN
18,19,2023-09-16,CUST019,Female,62.0,Clothing,2.0,25.0,50.0,NaN
19,20,2023-11-05,CUST020,Male,22.0,Clothing,3.0,300.0,900.0,NaN
20,21,2023-01-14,CUST021,Female,50.0,Beauty,1.0,500.0,NaN,NaN
21,22,2023-10-15,CUST022,Male,NaN,Clothing,2.0,50.0,100.0,NaN
22,23,2023-04-12,CUST023,Female,35.0,NaN,4.0,NaN,120.0,NaN
23,24,2023-11-29,CUST024,Female,49.0,Clothing,1.0,300.0,300.0,NaN
24,23,2023-04-12,CUST023,Female,35.0,NaN,4.0,NaN,120.0,NaN

In [8]:
df = df.drop(columns=['Offer'])

In [9]:
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34.0,Beauty,3.0,50.0,150.0
1,2,2023-02-27,CUST002,Female,26.0,Clothing,2.0,500.0,1000.0
2,3,2023-01-13,CUST003,Male,50.0,Electronics,1.0,30.0,30.0
3,4,2023-05-21,CUST004,Male,37.0,Clothing,1.0,500.0,NaN
4,5,2023-05-06,CUST005,Male,30.0,Beauty,2.0,50.0,100.0
5,6,2023-04-25,CUST006,Female,45.0,Beauty,1.0,30.0,30.0
6,7,2023-03-13,CUST007,Male,NaN,Clothing,NaN,25.0,50.0
7,8,2023-02-22,CUST008,Male,30.0,Electronics,4.0,NaN,100.0
8,9,2023-12-13,CUST009,Male,63.0,NaN,2.0,300.0,600.0
9,10,2023-10-07,CUST010,Female,52.0,Clothing,4.0,50.0,NaN
10,11,2023-02-14,CUST011,Male,23.0,Clothing,2.0,50.0,100.0
11,12,2023-10-30,CUST012,Male,35.0,Beauty,3.0,25.0,75.0
12,13,2023-08-05,CUST013,Male,22.0,Electronics,3.0,500.0,1500.0
13,14,2023-01-17,CUST014,Male,64.0,Clothing,4.0,NaN,120.0
14,15,2023-01-16,CUST015,Female,NaN,Electronics,4.0,500.0,2000.0
15,16,2023-02-17,CUST016,Male,19.0,Clothing,NaN,500.0,1500.0
16,17,2023-04-22,CUST017,Female,27.0,Clothing,4.0,25.0,100.0
17,18,2023-04-30,CUST018,Female,47.0,Electronics,2.0,25.0,50.0
18,19,2023-09-16,CUST019,Female,62.0,Clothing,2.0,25.0,50.0
19,20,2023-11-05,CUST020,Male,22.0,Clothing,3.0,300.0,900.0
20,21,2023-01-14,CUST021,Female,50.0,Beauty,1.0,500.0,NaN
21,22,2023-10-15,CUST022,Male,NaN,Clothing,2.0,50.0,100.0
22,23,2023-04-12,CUST023,Female,35.0,NaN,4.0,NaN,120.0
23,24,2023-11-29,CUST024,Female,49.0,Clothing,1.0,300.0,300.0
24,23,2023-04-12,CUST023,Female,35.0,NaN,4.0,NaN,120.0

In [12]:
df=df.drop_duplicates()

In [13]:
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34.0,Beauty,3.0,50.0,150.0
1,2,2023-02-27,CUST002,Female,26.0,Clothing,2.0,500.0,1000.0
2,3,2023-01-13,CUST003,Male,50.0,Electronics,1.0,30.0,30.0
3,4,2023-05-21,CUST004,Male,37.0,Clothing,1.0,500.0,NaN
4,5,2023-05-06,CUST005,Male,30.0,Beauty,2.0,50.0,100.0
5,6,2023-04-25,CUST006,Female,45.0,Beauty,1.0,30.0,30.0
6,7,2023-03-13,CUST007,Male,NaN,Clothing,NaN,25.0,50.0
7,8,2023-02-22,CUST008,Male,30.0,Electronics,4.0,NaN,100.0
8,9,2023-12-13,CUST009,Male,63.0,NaN,2.0,300.0,600.0
9,10,2023-10-07,CUST010,Female,52.0,Clothing,4.0,50.0,NaN
10,11,2023-02-14,CUST011,Male,23.0,Clothing,2.0,50.0,100.0
11,12,2023-10-30,CUST012,Male,35.0,Beauty,3.0,25.0,75.0
12,13,2023-08-05,CUST013,Male,22.0,Electronics,3.0,500.0,1500.0
13,14,2023-01-17,CUST014,Male,64.0,Clothing,4.0,NaN,120.0
14,15,2023-01-16,CUST015,Female,NaN,Electronics,4.0,500.0,2000.0
15,16,2023-02-17,CUST016,Male,19.0,Clothing,NaN,500.0,1500.0
16,17,2023-04-22,CUST017,Female,27.0,Clothing,4.0,25.0,100.0
17,18,2023-04-30,CUST018,Female,47.0,Electronics,2.0,25.0,50.0
18,19,2023-09-16,CUST019,Female,62.0,Clothing,2.0,25.0,50.0
19,20,2023-11-05,CUST020,Male,22.0,Clothing,3.0,300.0,900.0
20,21,2023-01-14,CUST021,Female,50.0,Beauty,1.0,500.0,NaN
21,22,2023-10-15,CUST022,Male,NaN,Clothing,2.0,50.0,100.0
22,23,2023-04-12,CUST023,Female,35.0,NaN,4.0,NaN,120.0
23,24,2023-11-29,CUST024,Female,49.0,Clothing,1.0,300.0,300.0

In [15]:
df=df.drop_duplicates(subset=['Quantity','Price per Unit'])

In [16]:
df

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34.0,Beauty,3.0,50.0,150.0
1,2,2023-02-27,CUST002,Female,26.0,Clothing,2.0,500.0,1000.0
2,3,2023-01-13,CUST003,Male,50.0,Electronics,1.0,30.0,30.0
3,4,2023-05-21,CUST004,Male,37.0,Clothing,1.0,500.0,NaN
4,5,2023-05-06,CUST005,Male,30.0,Beauty,2.0,50.0,100.0
6,7,2023-03-13,CUST007,Male,NaN,Clothing,NaN,25.0,50.0
7,8,2023-02-22,CUST008,Male,30.0,Electronics,4.0,NaN,100.0
8,9,2023-12-13,CUST009,Male,63.0,NaN,2.0,300.0,600.0
9,10,2023-10-07,CUST010,Female,52.0,Clothing,4.0,50.0,NaN
11,12,2023-10-30,CUST012,Male,35.0,Beauty,3.0,25.0,75.0
12,13,2023-08-05,CUST013,Male,22.0,Electronics,3.0,500.0,1500.0
14,15,2023-01-16,CUST015,Female,NaN,Electronics,4.0,500.0,2000.0
15,16,2023-02-17,CUST016,Male,19.0,Clothing,NaN,500.0,1500.0
16,17,2023-04-22,CUST017,Female,27.0,Clothing,4.0,25.0,100.0
17,18,2023-04-30,CUST018,Female,47.0,Electronics,2.0,25.0,50.0
19,20,2023-11-05,CUST020,Male,22.0,Clothing,3.0,300.0,900.0
23,24,2023-11-29,CUST024,Female,49.0,Clothing,1.0,300.0,300.0