In [1]:
import pandas as pd

In [3]:
sale = pd.read_csv('Online Sales Data.csv')

In [4]:
sale

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,NaN,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,NaN,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal
5,10006,2024-01-06,Sports,Wilson Evolution Basketball,5.0,29.99,149.95,Asia,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1.0,NaN,2499.99,North America,Credit Card
7,10008,2024-01-08,Home Appliances,Blueair Classic 480i,2.0,599.99,1199.98,Europe,PayPal
8,10009,2024-01-09,Clothing,Nike Air Force 1,6.0,89.99,539.94,Asia,Debit Card
9,10010,2024-01-10,Books,Dune by Frank Herbert,2.0,25.99,51.98,North America,Credit Card
10,10011,2024-01-11,Beauty Products,Chanel No. 5 Perfume,1.0,129.99,129.99,Europe,PayPal
11,10012,2024-01-12,Sports,Babolat Pure Drive Tennis Racket,3.0,199.99,599.97,Asia,Credit Card
12,10013,2024-01-13,Electronics,Samsung Galaxy Tab S8,2.0,749.99,1499.98,North America,Credit Card
13,10014,2024-01-14,Home Appliances,Keurig K-Elite Coffee Maker,1.0,189.99,189.99,Europe,PayPal
14,10015,2024-01-15,Clothing,North Face Down Jacket,2.0,249.99,499.98,Asia,Debit Card
15,10016,2024-01-16,Books,"Salt, Fat, Acid, Heat by Samin Nosrat",3.0,35.99,107.97,North America,Credit Card
16,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
17,10017,2024-01-17,Beauty Products,Dyson Supersonic Hair Dryer,1.0,399.99,399.99,Europe,PayPal
18,10018,2024-01-18,Sports,Manduka PRO Yoga Mat,4.0,119.99,479.96,Asia,Credit Card
19,10019,2024-01-19,Electronics,Garmin Forerunner 945,2.0,499.99,999.98,North America,Credit Card
20,10020,2024-01-20,Home Appliances,Ninja Professional Blender,1.0,99.99,99.99,Europe,PayPal
21,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,NaN,Asia,Debit Card
22,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,179.97,Asia,Debit Card
23,10022,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,North America,Credit Card
24,10023,2024-01-23,Beauty Products,Olay Regenerist Face Cream,1.0,49.99,49.99,Europe,PayPal
25,10024,2024-01-24,Sports,Adidas FIFA World Cup Football,3.0,29.99,89.97,Asia,Credit Card
26,10025,2024-01-25,Electronics,Bose QuietComfort 35 Headphones,1.0,299.99,299.99,North America,Credit Card
27,10026,2024-01-26,Home Appliances,Panasonic NN-SN966S Microwave,1.0,179.99,179.99,Europe,PayPal
28,10027,2024-01-27,Clothing,Adidas Ultraboost Shoes,2.0,179.99,359.98,Asia,Debit Card
29,10028,2024-01-28,Books,Pride and Prejudice by Jane Austen,3.0,12.99,38.97,North America,Credit Card
30,10029,2024-01-29,Beauty Products,MAC Ruby Woo Lipstick,1.0,29.99,29.99,Europe,PayPal
31,10030,2024-01-30,NaN,Nike Air Zoom Pegasus 37,2.0,129.99,259.98,Asia,NaN
32,10031,2024-01-31,Electronics,Sony WH-1000XM4 Headphones,2.0,349.99,699.98,North America,Credit Card
33,10032,2024-02-01,Home Appliances,Instant Pot Duo,3.0,89.99,269.97,Europe,PayPal
34,10033,2024-02-02,Clothing,Under Armour HeatGear T-Shirt,5.0,29.99,149.95,Asia,Debit Card
35,10034,2024-02-03,Books,1984 by George Orwell,4.0,19.99,79.96,North America,Credit Card
36,10035,2024-02-04,Beauty Products,L'Oreal Revitalift Serum,2.0,39.99,79.98,Europe,PayPal
37,10036,2024-02-05,Sports,Peloton Bike,1.0,1895.00,1895.00,NaN,Credit Card
38,10037,2024-02-06,Electronics,Apple Watch Series 8,3.0,399.99,1199.97,NaN,Credit Card
39,10038,2024-02-07,Home Appliances,Roomba i7+,2.0,799.99,1599.98,Europe,PayPal
40,10039,2024-02-08,Clothing,Columbia Fleece Jacket,4.0,59.99,239.96,Asia,Debit Card
41,10040,2024-02-09,Books,Harry Potter and the Sorcerer's Stone,3.0,24.99,74.97,North America,Credit Card
42,10041,2024-02-10,Beauty Products,Estee Lauder Advanced Night Repair,1.0,105.00,105.00,Europe,PayPal
43,10042,2024-02-11,Sports,Fitbit Charge 5,2.0,129.99,259.98,Asia,Credit Card
44,10043,2024-02-12,Electronics,GoPro HERO10 Black,3.0,399.99,1199.97,North America,Credit Card
45,10044,2024-02-13,Home Appliances,Nespresso VertuoPlus,1.0,199.99,199.99,Europe,NaN
46,10045,2024-02-14,Clothing,Patagonia Better Sweater,2.0,139.99,279.98,Asia,Debit Card
47,10046,2024-02-15,Books,Becoming by Michelle Obama,4.0,32.50,130.00,North America,Credit Card
48,10047,2024-02-16,Beauty Products,Clinique Moisture Surge,1.0,52.00,52.00,Europe,PayPal
49,10048,2024-02-17,Sports,Yeti Rambler Tumbler,6.0,39.99,239.94,Asia,Credit Card
50,10049,2024-02-18,Electronics,Kindle Paperwhite,2.0,129.99,259.98,North America,Credit Card
51,10050,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,Asia,Credit Card
52,10051,2024-02-12,Sports,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
sale.isnull()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,True,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False
31,False,False,True,False,False,False,False,False,True
32,False,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False,True,False
38,False,False,False,False,False,False,False,True,False
39,False,False,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False,False,True
46,False,False,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False,False,False
50,False,False,False,False,False,False,False,False,False
51,False,False,False,False,False,False,False,False,False
52,False,False,False,True,True,True,True,True,True

In [6]:
sale.notnull()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,True,True,True,True,False,True,True,True,True
1,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True
3,True,True,False,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,False,True,True,True
7,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,False,True,True
22,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True,True,True
31,True,True,False,True,True,True,True,True,False
32,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,True
34,True,True,True,True,True,True,True,True,True
35,True,True,True,True,True,True,True,True,True
36,True,True,True,True,True,True,True,True,True
37,True,True,True,True,True,True,True,False,True
38,True,True,True,True,True,True,True,False,True
39,True,True,True,True,True,True,True,True,True
40,True,True,True,True,True,True,True,True,True
41,True,True,True,True,True,True,True,True,True
42,True,True,True,True,True,True,True,True,True
43,True,True,True,True,True,True,True,True,True
44,True,True,True,True,True,True,True,True,True
45,True,True,True,True,True,True,True,True,False
46,True,True,True,True,True,True,True,True,True
47,True,True,True,True,True,True,True,True,True
48,True,True,True,True,True,True,True,True,True
49,True,True,True,True,True,True,True,True,True
50,True,True,True,True,True,True,True,True,True
51,True,True,True,True,True,True,True,True,True
52,True,True,True,False,False,False,False,False,False

In [7]:
sale.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [9]:
sale.columns

Index(['Transaction ID', 'Date', 'Product category', 'Product Name',
       'Units Sold', 'Unit Price', 'Total Revenue', 'Region',
       'Payment Method'],
      dtype='object')

In [10]:
sale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    53 non-null     int64
 1   Date              53 non-null     object
 2   Product category  51 non-null     object
 3   Product Name      52 non-null     object
 4   Units Sold        51 non-null     float64
 5   Unit Price        51 non-null     float64
 6   Total Revenue     51 non-null     float64
 7   Region            50 non-null     object
 8   Payment Method    50 non-null     object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ KB

In [16]:
sale['Product category'].value_counts(dropna= False)

Product category
Electronics        9
Clothing           9
Beauty Products    9
Home Appliances    8
Sports             8
Books              8
Name: count, dtype: int64

In [18]:
sale.head()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,NaN,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1.0,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3.0,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,NaN,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1.0,89.99,89.99,Europe,PayPal

In [19]:
sale.tail()

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
48,10047,2024-02-16,Beauty Products,Clinique Moisture Surge,1.0,52.00,52.00,Europe,PayPal
49,10048,2024-02-17,Sports,Yeti Rambler Tumbler,6.0,39.99,239.94,Asia,Credit Card
50,10049,2024-02-18,Electronics,Kindle Paperwhite,2.0,129.99,259.98,North America,Credit Card
51,10050,2024-01-22,Books,Gone Girl by Gillian Flynn,2.0,22.99,45.98,Asia,Credit Card
52,10051,2024-02-12,Sports,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
sale[sale.isnull().any(axis=1)]

,Transaction ID,Date,Product category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,NaN,999.99,1999.98,North America,Credit Card
3,10004,2024-01-04,NaN,The Da Vinci Code,4.0,15.99,63.96,North America,Credit Card
6,10007,2024-01-07,Electronics,MacBook Pro 16-inch,1.0,NaN,2499.99,North America,Credit Card
21,10021,2024-01-21,Clothing,Zara Summer Dress,3.0,59.99,NaN,Asia,Debit Card
31,10030,2024-01-30,NaN,Nike Air Zoom Pegasus 37,2.0,129.99,259.98,Asia,NaN
37,10036,2024-02-05,Sports,Peloton Bike,1.0,1895.00,1895.00,NaN,Credit Card
38,10037,2024-02-06,Electronics,Apple Watch Series 8,3.0,399.99,1199.97,NaN,Credit Card
45,10044,2024-02-13,Home Appliances,Nespresso VertuoPlus,1.0,199.99,199.99,Europe,NaN
52,10051,2024-02-12,Sports,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
sale.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [ ]:
mean ==average ,,,mode= repeated values ,median ,ffill ,bfill

numerical ,categorical

In [28]:
sale1=sale.dropna()

In [29]:
sale1.isnull().sum()

Transaction ID      0
Date                0
Product category    0
Product Name        0
Units Sold          0
Unit Price          0
Total Revenue       0
Region              0
Payment Method      0
dtype: int64

In [30]:
sale1.shape

(44, 9)

In [33]:
sale2=sale.dropna(axis=1)

In [34]:
sale2.isnull().sum()

Transaction ID    0
Date              0
dtype: int64

In [35]:
sale.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [36]:
sale3=sale['Unit Price'].fillna(0)

In [38]:
sale3

0      999.99
1      499.99
2       69.99
3       15.99
4       89.99
5       29.99
6        0.00
7      599.99
8       89.99
9       25.99
10     129.99
11     199.99
12     749.99
13     189.99
14     249.99
15      35.99
16     399.99
17     399.99
18     119.99
19     499.99
20      99.99
21      59.99
22      59.99
23      22.99
24      49.99
25      29.99
26     299.99
27     179.99
28     179.99
29      12.99
30      29.99
31     129.99
32     349.99
33      89.99
34      29.99
35      19.99
36      39.99
37    1895.00
38     399.99
39     799.99
40      59.99
41      24.99
42     105.00
43     129.99
44     399.99
45     199.99
46     139.99
47      32.50
48      52.00
49      39.99
50     129.99
51      22.99
52       0.00
Name: Unit Price, dtype: float64

In [39]:
sale.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          2
Total Revenue       2
Region              3
Payment Method      3
dtype: int64

In [40]:
sale['Unit Price']=sale['Unit Price'].fillna(0)

In [44]:
sale.isnull().sum()

Transaction ID      0
Date                0
Product category    2
Product Name        1
Units Sold          2
Unit Price          0
Total Revenue       2
Region              3
Payment Method      3
dtype: int64